body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 20px;
    padding-top: 0;
    text-align: left;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

@media (max-width: 600px) {
    main {
        padding: 10px;
    }
}

p.quota-info {
    margin: 10px;
    font-size: 0.8em;
    color: #333;
    text-align: center;
    font-weight: bold;
}


footer {
    padding: 20px;
}

footer p {
    text-align: center;
    color: #333333;
    margin: 10px;
}

footer a {
    text-decoration: none;
    color: #004D80;
}


h1 {
    color: #007acc;
    text-align: left;
    font-size: 2.3em;
}

h2 {
    color: #333;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px;
}


p {
    font-size: 1.2em;
    color: #666;
}

a.logo-link {
    text-decoration: none;
    color: #007acc;
    cursor: hand;
}

#upload-area {
    background-color: #fff;
    border: 2px dashed #007acc;
    border-radius: 8px;
    padding: 10px;
    padding-top: 30px;
    max-width: 500px;
    text-align: center;
    transition: background-color 0.3s ease;
    position: relative;
}

p.upload-helptext,
#time-left {
    font-size: 1em;
    color: #333333;
    text-align: center;
    max-width: 500px;
    padding: 0 10px;
}

#upload-area.dragover {
    background-color: #e6f7ff;
}

#upload-area.disabled {
    background-color: #f4f4f4;
    border: none;
    cursor: default;
}
#upload-area input[type="file"] {
    display: none;
}

#upload-area label {
    display: block;
    font-size: 1.2em;
    color: #007acc;
    cursor: pointer;
    margin-bottom: 20px;
    transition: color 0.3s ease;
    width: 200px;
    margin: 0 auto;
}

#upload-area button,
#download-area button {
    background-color: #007acc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 200px;
}

#upload-area p {
    color: #666;
}

#upload-area button:hover {
    background-color: #005f99;
}

#upload-area .icon {
    font-size: 2em;
}

.success-link-back, .success-link {
    color: #005f99;
    text-decoration: none;
}

.success-link-back:hover, .success-link:hover {
    text-decoration: underline;
}

#snapfile-status {
    display: none;
    text-align: center;
    margin: 0 10px;
    padding-bottom: 0px;
    max-width: 500px;
}

#progress {
    font-size: 1.5em;
    color: #007acc;
    margin-top: 20px;
}

#progress-bar {
    position: relative;
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
}

#progress-bar > div {
    height: 20px;
    background-color: #4CAF50;
    width: 0;
}

#progress-percentage {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-weight: bold;
    line-height: 20px;
}

.success-content {
    padding: 0 20px;
    border-radius: 5px;
    text-align: center;
}


.success-link {
    font-weight: normal;
}

.link-back-span {
    display: block;
    margin: 35px 0;
    margin-bottom: 20px;
}

.success-span-direct {
    display: block;
    font-size: 0.8em;
}

.success-span-share {
    font-weight: normal;
    display: block;
    margin: 10px;
}

.success-button {
    background-color: #007acc;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
    cursor: pointer;
    display: inline;
    align-items: center;
    justify-content: center;
}

.success-button .material-icons {
    font-size: 1.5em;
    margin: 0px;
}

.success-button:hover {
    background-color: #005f99;
}

#success-message, #error-message {
    font-size: 1.2em;
    margin-top: 20px;
    transition: opacity 0.5s ease;
}

#error-message {
    color: #a80000;
}

img.snapfile-logo {
    width: 24px;
    vertical-align: middle;
    margin-right: 10px;
}

#link-copy-notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 15px; /* Padding */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow for better visibility */
    transition: opacity 0.5s ease-in-out; /* Smooth fade-out transition */
    z-index: 1000; /* Ensure it appears above other elements */
}

#download-notification,
#download-area {
    display: block;
    text-align: center;
    margin: 0 10px;
    padding-bottom: 0px;
    max-width: 500px;
}

#download-notification {
    display: none;
}

div.to-home {
    margin-bottom: 30px;
}