<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}SnapFile.me{% endblock %}</title>
  <link rel="icon" href="/static/favicon.png" type="image/png">
  <link rel="stylesheet" href="/static/css/styles.css?v3">

  <meta name="title" property="og:title" content="SnapFile.me">
  <meta name="description" property="og:description" content="Simple and secure file sharing">
  <meta property="og:image" content="/static/favicon.png">
  <meta property="og:url" content="https://snapfile.me">

  {% block extra_head %}{% endblock %}
  {% if ANALYTICS_SCRIPT %}{{ ANALYTICS_SCRIPT|safe }}{% endif %}
</head>
<body>
  <header>
    <a href="/" class="logo-link">
      <h1>SnapFile.me</h1>
    </a>
    <p class="header">Simple and secure file sharing</p>
    <!-- Dark Mode Toggle Button -->
    <button title="Toggle dark Mode" id="theme-toggle" aria-label="Toggle Dark Mode">🌙</button>
  </header>
  
  <main>
    {% block content %}{% endblock %}
  </main>
  
  <footer>
    <p>
      Version <a href="https://github.com/remimikalsen/snapfile.me/pkgs/container/snapfile">{{ VERSION }}</a>.
      Brought to you by <a href="https://theawesomegarage.com" target="_blank">TheAwesomeGarage.com</a>
    </p>
    <p>
      Why not try out <a href="https://credshare.app" target="_blank">CredShare.app</a>?
      Password sharing made simple.
    </p>
    <p>
      View the source code on <a href="https://github.com/remimikalsen/snapfile.me" target="_blank">GitHub.com</a>
    </p>
  </footer>
  
  {% block extra_scripts %}{% endblock %}
  
  <script>
    // Check for a saved theme or default to 'light'
    const toggleButton = document.getElementById('theme-toggle');
    const currentTheme = localStorage.getItem('theme') || 'light';
    if (currentTheme === 'dark') {
      document.body.classList.add('dark');
      toggleButton.textContent = '☀️';
    }
    
    toggleButton.addEventListener('click', () => {
      document.body.classList.toggle('dark');
      const newTheme = document.body.classList.contains('dark') ? 'dark' : 'light';
      toggleButton.textContent = newTheme === 'dark' ? '☀️' : '🌙';
      localStorage.setItem('theme', newTheme);
    });
  </script>
</body>
</html>