<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapFile.me - File download</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <a href="/" class="logo-link"><h1>SnapFile.me</h1></a>
    </header>
    <main>
        <h2>Download your file</h3>
        <div id="download-area">
            <h3>{{ filename }}</h3>
            <button id="download-button" onclick="window.location.href='{{ download_link }}'">Download now</button>
            <p id="time-left"></p>
            <span class="success-span-direct">Use the <a href="http://{{ internal_ip }}:{{ internal_port }}{{ download_link }}">direct IP download</a> if you're on the same network as the SnapFile.me server.</span>
        </div>
        <div id="download-notification"></div>
        <div class="to-home">
            <span class="link-back-span">[ <a href="/" class="success-link-back">Share a file with Snap.me</a> ]</span>
        </div>
    </main>
    <footer>
        <p>
            Brought to you by <a href="https://theawesomegarage.com" target="_blank">TheAwesomeGarage.com</a>
        </p>
        <p>
            View the source code on <a href="https://github.com/remimikalsen/snapfile.me" target="_blank">GitHub.com</a>
        </p>
    </footer>
    <script>
        async function fetchTimeLeft() {
            const response = await fetch(`/time-left/{{ download_code }}`);
            if (response.ok) {
                const data = await response.json();
                if (data.hours_left !== undefined && data.minutes_left !== undefined) {
                    document.getElementById('time-left').innerText = `Time left to download: ${data.hours_left} hours and ${data.minutes_left} minutes. Once downloaded, the file is immediately deleted.`;
                } else {
                    document.getElementById('time-left').innerText = data.message;
                }
            } else if (response.status === 404) {
                document.getElementById('time-left').innerText = 'The file has expired or never existed.';
            } else {
                document.getElementById('time-left').innerText = 'Error fetching time left.';
            }
        }

        function startTimer() {
            fetchTimeLeft();
            setInterval(fetchTimeLeft, 60000); // Fetch every minute
        }

        window.onload = startTimer;

        document.getElementById('download-button').addEventListener('click', function() {
            document.getElementById('download-area').style.display = 'none';
            document.getElementById('download-notification').style.display = 'block';
            document.getElementById('download-notification').innerText = 'File download was initiated. Plase check your downloads folder.';
        });        
    </script>

</body>
</html>