<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapFile.me - Secure File Sharing</title>
    <link rel="icon" href="/static/favicon.png" type="image/png">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <h1>SnapFile.me</h1>
    <div class="upload-container" id="upload-container">
        <label for="file-input">
            <button id="browse-button">
                <span class="icon">📂</span> Browse Files
            </button>
        </label>
        <input type="file" id="file-input" aria-label="File Upload">
        <p>or drag and drop a file here to download it.</p> 
        <p>
            Uploading a file will generate link that can be downloaded once. <br /> 
            The link will be valid for {{ file_expiry_hours }} hours, {{ file_expiry_minutes }} minutes. <br />
            Maximum file size is {{ max_file_size }} MB
        </p>
    </div>

    <div id="snapfile-status">
        <div id="progress">Uploading...</div>
        <div id="progress-bar">
            <div></div>
            <span id="progress-percentage">0%</span>
        </div>
        <div id="success-message"></div>
        <div id="error-message"></div>
    </div>

    <footer>
        <p class="quota_info"></p>
        <p>
            <img src="/static/favicon.png" alt="SnapFile.me logo">
            Brought to you by <a href="https://theawesomegarage.com" target="_blank">TheAwesomeGarage.com</a>
        </p>
    </footer>

    <div id="notification" class="notification" style="display: none;"></div>

    <script>
        const uploadContainer = document.getElementById('upload-container');
        const fileInput = document.getElementById('file-input');
        const snapfileStatus = document.getElementById('snapfile-status');
        const progress = document.getElementById('progress');
        const progressBar = document.getElementById('progress-bar').firstElementChild;
        const progressPercentage = document.getElementById('progress-percentage');
        const successMessage = document.getElementById('success-message');
        const errorMessage = document.getElementById('error-message');
        const browseButton = document.getElementById('browse-button');
        const notification = document.getElementById('notification');

        // Open file browser on button click
        browseButton.addEventListener('click', () => {
            fileInput.click();
        });

        // Drag and drop functionality
        uploadContainer.addEventListener('dragover', (e) => {
            e.preventDefault();
            uploadContainer.classList.add('dragover');
        });

        uploadContainer.addEventListener('dragleave', () => {
            uploadContainer.classList.remove('dragover');
        });

        uploadContainer.addEventListener('drop', (e) => {
            e.preventDefault();
            uploadContainer.classList.remove('dragover');
            fileInput.files = e.dataTransfer.files;
            uploadFile(); // Automatically start the upload
        });

        // File input change handling
        fileInput.addEventListener('change', uploadFile);

        function uploadFile() {
            if (fileInput.files.length === 0) {
                alert('Please select a file first.');
                return;
            }

            // Show progress indicator and disable new uploads
            showStatus('progress');
            disableUpload();

            // Create FormData object and append file
            const formData = new FormData();
            formData.append('file', fileInput.files[0]);

            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/upload', true);

            xhr.upload.onprogress = (event) => {
                if (event.lengthComputable) {
                    const percentComplete = Math.round((event.loaded / event.total) * 100);
                    progressBar.style.width = percentComplete + '%';
                    progressPercentage.innerText = percentComplete + '%';
                }
            };

            xhr.onload = () => {
                hideStatus('progress');
                if (xhr.status === 200) {
                    showSuccess(xhr.responseText);
                } else if (xhr.status === 429) {
                    showError(xhr.responseText);
                } else {
                    showError('Error uploading file');
                }
            };

            xhr.onerror = () => {
                hideStatus('progress');
                showError('Error uploading file');
            };

            xhr.send(formData);
        }

        function showStatus(status) {
            snapfileStatus.style.display = 'block';
            uploadContainer.style.display = 'none';
            if (status === 'progress') {
                progress.style.display = 'block';
                progressBar.parentElement.style.display = 'block';
            }
        }

        function showError(status) {
            errorMessage.innerText = status;
            snapfileStatus.style.display = 'block';
            uploadContainer.style.display = 'none';
            progress.style.display = 'none';
            progressPercentage.style.display = 'none';
        }


        function hideStatus(status) {
            if (status === 'progress') {
                progress.style.display = 'none';
                progressBar.parentElement.style.display = 'none';
            }
        }

        function showSuccess(data) {
            const landingURL = `${window.location.origin}/landing${data}`;
            const publicDownloadUrl = `${window.location.origin}${data}`;

            successMessage.innerHTML = `
                <div class="success-content">
                    <p>Upload successful</p>
                    <span>Here is the <a href="${landingURL}" class="success-link">link to the download page</a>.</span>
                    <span class="success-span-share">Click the icon to copy the link to your clipboard for sharing.
                        <button id="copy-landing-link-button" class="success-button" aria-label="Copy landing page link to clipboard">
                            <span class="material-icons">content_copy</span>
                        </button>
                    </span>
                    <span class="success-span-direct">or use this <a href="${publicDownloadUrl}" class="success-link-direct">direct download-once-only link</a>.</span>
                    <a href="/" class="success-link-back">Back to front page</a>
                </div>
            `;
            successMessage.style.display = 'block';
            snapfileStatus.style.opacity = 0; // Start fading out
            setTimeout(() => {
                snapfileStatus.innerHTML = successMessage.innerHTML;
                snapfileStatus.style.opacity = 1; // Fade in the success message
                document.getElementById('copy-landing-link-button').addEventListener('click', () => {
                    copyToClipboard(landingURL); // Pass the correct URL
                });
                updateQuotaInfo();
            }, 500); // Wait for the fade-out to complete
        }

        function copyToClipboard(text) {
            navigator.clipboard.writeText(text).then(() => {
                showNotification('Link copied to clipboard!');
            }).catch(err => {
                console.error('Error copying text: ', err);
            });
        }

        function showNotification(message) {
            notification.innerText = message;
            notification.style.display = 'block';
            setTimeout(() => {
                notification.style.opacity = 0;
                setTimeout(() => {
                    notification.style.display = 'none';
                    notification.style.opacity = 1;
                }, 500);
            }, 3000);
        }

        // Check limit status on page load
        window.addEventListener('load', () => {
            fetch('/check-limit')
                .then(response => {
                    return response.json();
                })
                .then(data => {
                    if (data.limit_reached) {
                        showError('Upload limit has been reached.');
                        disableUpload();

                    }
                    document.querySelector('.quota_info').innerText = `
                        You have ${data.quota_left} uploads left on your quota.
                        The quota will reset in ${data.quota_renewal_hours} hours and ${data.quota_renewal_minutes} minutes.
                    `;
                })
                .catch(error => {
                    console.error('Error checking limit:', error);
                });
        });

        function disableUpload() {
            fileInput.disabled = true;
            browseButton.disabled = true;
            browseButton.style.cursor = 'not-allowed';
            uploadContainer.classList.add('disabled');
            uploadContainer.innerHTML = ''; // Clear the container
            uploadContainer.removeEventListener('dragover', preventDefault);
            uploadContainer.removeEventListener('drop', preventDefault);
        }

        function preventDefault(e) {
            e.preventDefault();
        }

        // Function to update quota information
        function updateQuotaInfo() {
            fetch('/check-limit')
                .then(response => response.json())
                .then(data => {
                    document.querySelector('.quota_info').innerText = `
                        You have ${data.quota_left} uploads left on your quota.
                        The quota will reset in ${data.quota_renewal_hours} hours and ${data.quota_renewal_minutes} minutes.
                    `;
                })
                .catch(error => {
                    console.error('Error checking limit:', error);
                });
    }

    </script>
</body>
</html>